<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
</head>
<body>
<div align="center">
    <h1>Add Patient</h1>
    <br />
    <div class="col-sm-4">
    <form action="#" th:action="@{/save}" th:object="${patient}" method="post">

    
        <div alight="left">
            <tr>
                <label class="form-label" >Patient Name</label>
                <td>
                    <input type="hidden" th:field="*{id}" />
                    <input type="text" th:field="*{Patient_name}" class="form-control" placeholder="Patient Name" />
                </td>
            </tr>
        </div>
            
            <div alight="left">

            <tr>
                <label class="form-label" >Gender</label>
                <td><input type="text" th:field="*{Gender}" class="form-control" placeholder="Gender" /></td>
            </tr>
            </div>
            <div alight="left">
                <tr>
                <label class="form-label" >Contact</label>
                <td><input type="text" th:field="*{Contact_info}" class="form-control" placeholder="Contact_info" /></td>
            </tr>
            </div>
            <br>
            <tr>
            <td colspan="2"><button type="submit" class="btn btn-info">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>